* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #afafaf, rgb(97, 97, 97));
}
.input {
    text-align: center;
    margin-top: 70px;
}
input[type="text"] {
    height: 40px;
    width: 300px;
    background: #e7e7e7;
    font-family: "Nunito",sans-serif;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    border-bottom: 5px solid rgb(255, 196, 0);
}
.display {
    color: white;
    font-size: 20px;
    text-align: center;
}
.name {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
    font-style: italic;
}
.desc {
    font-size: 25px;
}
.temp, .minMax, .wind {
    font-size: 25px;
    margin-top: 10px;
}
